/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2016, 2:53:26 PM
    Author     : griffiths
*/
@font-face {
    font-family: 'alex_brushregular';
    src: url('fonts/alexbrush-regular-webfont.eot');
    src: url('fonts/alexbrush-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('fonts/alexbrush-regular-webfont.woff') format('woff'),
         url('fonts/alexbrush-regular-webfont.ttf') format('truetype'),
         url('fonts/alexbrush-regular-webfont.svg#alex_brushregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'anonymous_proregular';
    src: url('fonts/anonymous_pro-webfont.eot');
    src: url('fonts/anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anonymous_pro-webfont.woff2') format('woff2'),
         url('fonts/anonymous_pro-webfont.woff') format('woff'),
         url('fonts/anonymous_pro-webfont.ttf') format('truetype'),
         url('fonts/anonymous_pro-webfont.svg#anonymous_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('foodbackground.jpg');
    position: fixed;
}

.body {
    width: 70%;
    display: block;
    text-align: center;
    margin: auto;
    background-color: white;
    opacity: .8;
}

/**NAVIGATION**/

.nav ul {
    list-style: none;
    background-color: #fff;
    opacity: .9;
    text-align: center;
    padding: 10px;
    margin: 10px;
    margin-right: 20px;
    display: inline-block;
    float: right;
}

.nav li {
  font-family: 'anonymous_proregular';
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
}
 
.nav a {
  text-decoration: none;
  color: orangered;
  display: block;
  transition: .3s color;
}
 
.nav a:hover {
  color: #444
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}


button {

}

p {
font-family: 'anonymous_proregular';
    width: 80%;
    display: block;
    margin: auto;
    padding-bottom: 1em;
}

h1 {
    font-family: 'alex_brushregular';
    padding-top: 20px;
    color: burlywood; 
}

h2, h3 {
    font-family: 'anonymous_proregular';
    color: brown;
    
}

label {
    font-family: 'anonymous_proregular';
    color: brown;
}

button a {
    text-decoration: none; 
    color: azure;
}