/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 14, 2016, 2:53:26 PM
    Author     : griffiths
*/

body {
    background-image: url('recipebackground.jpg');
}

.body {
    font-family: sans-serif; 
    width: 80%;
    color: white; 
}

button {

}

p {

}

h1 {

}

h3 {

}

button a {
    text-decoration: none; 
    color: azure;
}